/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --theme__color1: #BEAF87;
  --text__color: #404041;
  --montserrat: 'Montserrat', sans-serif;
  --roboto: 'Roboto', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
  scroll-margin-top: calc(var(--header-height) + 15px);
}
body {
  font-size: 18px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text__color);
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--montserrat);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
  line-height: 1.4;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
  font-family: var(--roboto);
  line-height: 1.7;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1899px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1666px;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 5%;
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 35px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;
}
.sticky .header-in {
  padding: 15px 0;
}
.sticky .header-in,
.header--dark .header-in {
  background: #343434;
  color: #fff;
}
.sticky .header-in .default-button.default-button--black,
.header--dark .header-in .default-button.default-button--black {
  background: transparent;
  border-color: var(--theme__color1);
}
.sticky .header-in .default-button.default-button--black:hover,
.header--dark .header-in .default-button.default-button--black:hover {
  background: var(--theme__color1);
}
.header-section__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 69px;
  display: block;
}
.header__logo img {

}
.main-menu {
  margin-left: 74px;
}
.main-menu > ul {
  gap: 50px;
  display: flex;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  font-size: 18px;
  font-weight: 500;
}
.main-menu > ul > li > a.active,
.main-menu > ul > li > a:hover {
  text-decoration: underline !important;
  text-underline-offset: 11px !important;
  text-decoration-color: var(--theme__color1) !important;
  text-decoration-thickness: 2px !important;
}
/* header-end */


/* ---header-ex-section--- */
.header-ex-section {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
}
.header-ex-section__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ex__left  {
  display: flex;
  align-items: center;
}
.header-ex__left__slc {
  display: flex;
}
.header-ex__left__slc .hfl-slc:first-child {
  border-left: 1px solid hwb(240 25% 75% / 0.233);
}
.header-ex__left .hero-search {

}
.header-ex__left .hero-search .input {
  min-height: 62.5px;
}

.header-ex__right {

}
.menu-ex {
  display: flex;
  gap: 40px;
}
.menu-ex > li {

}
.menu-ex > li > a {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
}
.menu-ex > li > a:hover {
  color: var(--theme__color1);
}
.dropdown-menu {
  border: none;
  background: #fff;
  filter: drop-shadow(0px 15px 30px rgba(112, 144, 176, 0.3));
}
.dropdown-menu a {
  padding: 5px 16px;
  color: var(--theme__color2);
  display: flex;
  color: #404041;
  transition: 0.3s;
}
.dropdown-menu a:hover {
  background: #D9D9D9;
}

/* ---header-ex-section---end */






/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #000;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 7px;
  font-weight: 500;
  transition: 0.3s;
}
.offcanvas-menu ul li a:hover {
  color: #000;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---common-content--- */
.h2 {
  margin: 0 0 24px;
  gap: 27px;
  font-size: 45px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}
.h2 .icon {
  width: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  text-align: center;
  align-items: center;
}
.cont-blk .bottom-button {
  margin: 20px 0 0;
}
.sec-title {
  margin: 0 0 57px;
}
/* ---common-content---end */


/* ---hero-section--- */
.hero-section {
  padding: 130px 0;
  position: relative;
  z-index: 1;
} 
.hero-section__inner {
  position: relative;
  z-index: 1;
}
.hero__shape1 {
  width: 242px;
  left: -140px;
  bottom: 30px;
  position: absolute;
}
.hero__image {
	right: -470px;
	top: -245px;
	position: absolute;
	width: 1181px;
  max-width: 100%;
}
.hero__image .img-1 {
	position: absolute;
	top: 20.6%;
	left: 0%;
	width: 53.5%;
}
.hero__image .img-2 {
	position: absolute;
	top: 16.6%;
	left: 52.1%;
	width: 32%;
}
.hero__image .img-3 {
	position: absolute;
	top: 45.8%;
	left: 41.4%;
	width: 43.4%;
}

.hero__content {

}
.hero__content h4 {
  margin-left: 13px;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
}
.hero__content h4 .c-img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-30%,-50%);
}
.hero__content .h1 {
  font-size: 64px;
  margin: 0 0 37px;
  font-weight: 600;
  line-height: 1.15;
}
.hero-buttons {
  display: flex;
  gap: 20px;
}
.hero-buttons .button {

}
.hero__content .or {
  font-size: 18px;
  font-weight: 500;
  color: #7F7F7F;
  margin: 82px 0;
}
.hero-filter {
  padding: 16px 22px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
  display: inline-block;
}
.hero-filter__inner {
  display: flex;
  align-items: center;
}
.hero-filter__left {
  display: flex;
}
.hfl-slc {
  padding: 0 20px;
  border-right: 1px solid hwb(240 25% 75% / 0.233);
}
.hfl-slc:last-child {
  border-right: none;
}
.hfl-slc .nice-select,
.hfl-slc .nice-text {
  padding-right: 23px;
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: 600;
}
.hfl-slc .nice-select .list {
  margin-top: 68px;
}
.hfl-slc .nice-text {
  padding-right: 0 !important;
}
.hfl-slc .nice-select::after {
  border-color: var(--theme__color1);
  height: 13px;
  width: 13px;
  margin-top: -11px;
  right: 0;
}
.hfl-slc h6 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.hfl-slc h6 .dm {
  color: rgba(64, 64, 65, 0.6);
}
.hero-filter .hero-search {

}
.hero-search {
  width: 248px;
  background: #343434;
  position: relative;
  border-radius: 80px;
}
.hero-search .icon {
  font-size: 29px;
  position: absolute;
  top: 50%;
  left: 30px;
  color: #fff;
  transform: translate(0,-50%);
}

.hero-search .input {
  font-size: 18px;
  padding: 10px 15px 10px 75px;
  font-weight: 600;
  min-height: 84px;
  color: #fff;
  background: transparent;
  border-color: transparent;
  width: 100%;
}
.hero-search .input::placeholder {
  color: #fff;
}
.hero-search--button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}
.hero-search--button .icon {
  position: static;
  transform: none;
}
.hero-search--button .input {
  display: flex;
  align-items: center;
  flex-grow: 0;
  width: initial;
  padding-left: 15px;
}
/* ---hero-section---end */


/* ---eng-section--- */
.eng-section {
  padding: 107px 0;
}
.eng-section__inner {
  border-radius: 23px;
  margin: 0 2.2%;
  background: #343434;
  color: #fff;
  display: flex;
}
.eng__image {
	margin: -33px 0 -70px 78px;
}
.eng__image img {
  border-radius: 17px;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.26);

}
.eng__content {
	padding: 65px 80px;
}
.eng__content__title {
  margin: 0 0 35px;
}
.eng__content__title h2 {
  font-size: 52px;
  font-weight: 600;
}
.eng__cont__main {
  display: flex;
  align-items: flex-end;
}
.eng__cont__m-left {
  display: flex;
  gap: 45px;
}
.eng__cont__ml-s {
  width: 112px;
}
.eng__cont__ml-s h3 {
  font-size: 32px;
  margin: 0 0 9px;
  font-weight: 500;
  display: flex;
  gap: 6px;
}
.eng__cont__ml-s h3 .arr {
  width: 32px;
}
.eng__cont__ml-s p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.51);
  line-height: 1.7;
}
.eng__cont__m-right {
  margin-left: 100px;
  display: flex;
  gap: 45px;
}
.eng__cont__m-single {

}
.eng__cont__m-single .icon {
  width: 46px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 13px;
}
.eng__cont__m-single .icon img {

}
.eng__cont__m-single .rating {
  display: flex;
  gap: 7px;
  align-items: center;
}
.eng__cont__m-single .rating ul {
  gap: 2px;
  display: flex;
  align-items: center;
}
.eng__cont__m-single .rating ul li {
  font-size: 14px;
  color: #BEAF87;
}
.eng__cont__m-single .rating h5 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}
/* ---eng-section---end */


/* ---cd-section--- */
.cd-section {
  padding: 85px 0;
}
.cd-section__inner {

}


.cd-card___wrapper {
  grid-gap: 55px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.cd-card {
  padding: 50px 41px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.14);
}
.cd-card h3 {
  margin: 0 0 45px 10px;
  font-size: 30px;
  gap: 33px;
  font-weight: 500;
  display: flex;
  align-items: center;
} 
.cd-card h3 .class-icon {
  width: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.cd-card h3 .class-icon img {

}
.cd-card p {

}
.cd-card .bottom-button {
  margin: 25px 0 0;
}
/* ---cd-section---end */


/* ---pro-section--- */
.pro-section {
  padding: 85px 0;
}
.pro-section__inner {

}
.pro-section__title {
  margin: 0 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pro-section__title h3 {
  font-size: 23px;
  margin: 0 0 20px;
  font-weight: 500;
}
.pro-section__title .arrow-bottom {
  font-size: 30px;
  color: var(--theme__color1);
}

.pro-row___wrapper {
  gap: 100px;
  display: flex;
  flex-direction: column;
}
.pro-row___wrapper .pro__row:nth-child(odd) .pro__row__image-blk {
  order: 2;
}
.pro__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro__row__image-blk {
	width: 59.1%;
  border-radius: 18px;
}
.pro__row__image-blk img {
  width: 100%;
  border-radius: inherit;
}
.pro__row__content-blk {
  width: 36%;
}
.pro__row__content-blk .cont-blk {

}
.pro__row__content-blk .cont-blk .h2 {
  margin: 0 0 20px 15px;
}
/* ---pro-section---end */


/* ---props-section--- */
.props-section {
  padding: 85px 0;
}
.props-section__inner {

}
.props-section__title {

}

.props-slider {
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.06));
}
.props-slider .owl-stage-outer {
  overflow: visible;
}
.props-slider .owl-dots {

}
.props-slide {

}
.prop-card {
  padding: 31px;
  border-radius: 17px;
  background: #fff;
}
.prop-card.prop-card--shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}
.prop-card__image {
  height: 257px;
  border-radius: 12px;
  display: block;
}
.prop-card__image .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.prop-card__content {
  padding: 36px 0 0;
}
.prop-card__content .loc {
  margin: 0 0 20px;
  font-size: 23px;
  gap: 20px;
  display: flex;
  align-content: inherit;
}
.prop-card__content .loc .icn {
  width: 26px;
}
.prop-card__content p {
  margin: 0 0 1px;
}
.prop-card__content .price {
  font-weight: 500;
  margin: 0;
}

.section-bottom {
  margin: 60px 0 0;
  display: flex;
  justify-content: center;
}
.section-bottom .button {
  min-width: 342px;
}
/* ---props-section---end */


/* ---testimonial-section--- */
.testimoni-section {
  padding: 85px 0 ;
}
.testimoni-section__inner {
  padding: 0 8.45%;
}
.testimoni-section__title {
  
}
.testimoni-section__title .h2 {
  position: relative;
}
.testimoni-section__title .h2 .c-icon {
  width: 62px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-48%,-50%);
}

.testimonial__slider__outer {

}
.testimonial__slider {
  filter: drop-shadow(0 3px 25px rgba(0, 0, 0, 0.14));
}
.testimonial__slider .owl-dots {
  margin: 70px 0 0;
}
.testimonial__slide {
  padding: 34px 30px;
  border-radius: 8px;
  background: #fff;
}
.testimonial__slide__inner {
  max-width: 480px;
}
.testimonial__slide h3 {
  font-size: 18px;
  font-weight: 500;
}
.testimonial__slide p {
  
}
.carousel-dots1 .owl-dots { 
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.carousel-dots1 .owl-dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #404041 !important;
  transition: 0.3s;
}
.carousel-dots1 .owl-dot.active {
  background: var(--theme__color1) !important;
  border-color: var(--theme__color1) !important;
}
/* ---testimonial-section---end */


/* ---cta-section--- */
.cta-section {
  padding: 85px 0 140px;
}
.cta-section__inner {

}
.cta-section__title {
  margin: 0 0 30px;
}
.c-wrap {
  position: relative;
}
.c-wrap .c-txt {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-38%,-42%);
}
.cta__options {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta__options .or {
  margin: 0;
  font-weight: 500;
  font-family: var(--montserrat);
}
.cta__options .button {
  min-width: 296px;
}
/* ---cta-section---end */


/* ---footer-section--- */
.footer-section {
  font-size: 16px;
  color: #404041;
  background: #252527;
}
.footer-section__inner {
  max-width: 1088px;
  margin: 0 auto;
}
.footer__top {
  padding: 76px 0 83px;
  display: flex;
}
.footer__logo-column {
  padding-right: 33px;
  flex-grow: 1;
}
.footer__logo {
  width: 107px;
  margin: 0 0 30px;
  display: inline-flex;
}
.footer__logo-column p {
  font-family: var(--montserrat);
}
.footer__menu-column {
  padding-top: 20px;
  padding-left: 33px;
  padding-right: 33px;
  border-left: 1px solid #404041;
}
.footer__menu-column--1 {
  flex-grow: 1;
}
.footer__menu-column--2 {

}
.footer__menu-column--3 {
  padding-right: 0;
}
.footer__menu-column h4  {
  font-size: 18px;
  margin: 0 0 30px;
  font-weight: 500;
  color: #fff;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-menu li {

}
.footer-menu li a {
  display: flex;
  font-weight: 500;
  transition: 0.3s;
}
.footer-menu li a:hover {
  color: var(--theme__color1);
}
.footer-menu li a .icon {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-menu li a .icon i {

}

.footer__middle {
  padding: 35px 0;
  border-top: 1px solid #404041;
  text-align: center;
}
.footer__middle p {
  font-family: var(--montserrat);
  font-weight: 500;
}
.footer__middle .a-wrap {
  margin: 30px 0 0;
  display: flex;
  gap: 47px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.footer__middle .a-wrap .a {
  color: var(--theme__color1);
}


.footer__bottom {
  padding: 35px 0;
  border-top: 1px solid #404041;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.footer__bottom p {
  margin: 0;
  font-weight: 500;
}
/* ---footer-section---end */


/* ---sale-section--- */
.sale-section {
  padding: 85px 0;
}
.sale-section__inner {

}
.sale-section__title {
  margin: 0 0 40px;
}
.sale-section__title h3 {
  font-size: 38px;
  font-weight: 500;
}

.sale__grid {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.pagination {
  margin: 70px 0 0;
  display: flex;
  justify-content: center;
}
.pagination ul {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination ul li {

}
.pagination ul li a {
  color: rgba(64, 64, 65, 0.6);
  transition: 0.3s;
}
.pagination ul li a.active,
.pagination ul li a:hover {
  color: rgba(64, 64, 65,1);
}
/* ---sale-section---end */


/* ---property-section--- */
.property-section {
  padding: 85px 0;
}
.property-section__inner {
  padding: 0 8.6%;
}
.property-section__title {
  margin: 0 0 58px;
  padding: 0 0 3px;
  border-bottom: 1px solid #CBCBCB;
}
.property-section__title h3 {
  font-size: 36px;
  margin: 0 0 16px;
  font-weight: 500;
}
.property-section__title .loc {
  margin: 0 0 20px;
  font-size: 14px;
  gap: 20px;
  display: flex;
  align-content: inherit;
}
.property-section__title .loc .icn {
  width: 26px;
}
.property-section__title h6 {
  font-size: 16px;
  font-weight: 400;
}


.property__img-grid {
  padding-bottom: 50px;
  grid-gap: 20px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(9,1fr);
  border-bottom: 1px solid #CBCBCB;
}
.property__img-grid__item {
  grid-column: span 2;
  position: relative;
  border-radius: 10px;
}
.property__img-grid__item--huge {
  grid-column: span 5;
  grid-row: span 2;
}
.property__img-grid__item .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.property__img-grid__item .c-button {
  min-height: 47px;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  white-space: nowrap;
}

.property__des-group {
  padding-bottom: 45px;
  margin-bottom: 50px;
  border-bottom: 1px solid #CBCBCB;
}
.property__des-group h3 {
  font-size: 30px;
  margin: 0 0 32px;
  font-weight: 500;
}
.property__des-group p {
  
}
.property__op-list {
  display: grid;
  grid-template-columns: 17.33% 17.33% 17.33% 24% 24%;
  flex-wrap: wrap;
  grid-row-gap: 40px;
}
.property__op-list__item {
  
}
.property__op-list__item h4 {
  font-size: 20px;
  margin: 0 0 12px;
  font-weight: 600;
  color: var(--theme__color1);
}
.property__op-list__item p {

}
.property__op-list__item p .peb-b {
  width: 127px;
}
/* ---property-section---end */



/* ---service-hero-section--- */
.service-hero-section {
  padding: 110px 0;
}
.service-hero-section__inner {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-hero__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service-hero__left .h1 {
  font-size: 64px;
  margin: 0 0 20px;
  font-weight: 600;
}
.service-hero__left h4 {
  font-size: 30px;
  margin: 0 0 25px;
  line-height: 1.3;
  font-weight: 500;
}
.service-hero__left .button {

}
.hero-rating-wrap {
  margin-top: 65px;
  padding: 28px 30px;
  display: inline-flex;
  gap: 45px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.14);
}
.rating-option {

}
.rating-option .rating-option-top {
  margin: 0 0 13px;
  display: flex;
  align-content: inherit;
  gap: 18px;
  align-items: center;
}
.rating-option .icon {
  width: 46px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-option .icon img {

}
.rating-option .rating-option-top p {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}
.rating-option .rating {
  display: flex;
  gap: 7px;
  align-items: center;
}
.rating-option .rating ul {
  gap: 2px;
  display: flex;
  align-items: center;
}
.rating-option .rating ul li {
  font-size: 14px;
  color: #BEAF87;
}
.rating-option .rating h5 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}

.service-hero__right {
  width: 56.75%;
  flex-shrink: 0;
}
.hero-video {
  width: 100%;
  height: 517px;
}
.hero-video iframe {
  height: 100%;
  width: 100%;
}
/* ---service-hero-section---end */